# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc

# Expo / React Native
.expo/
android/
ios/

# Hardhat
cache/
artifacts/
coverage/
coverage.json
typechain/
typechain-types/

# Misc
.DS_Store
